@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4"> Indian Cricket</h1>


    <img src="~/India_vs_New_Zealnd_trophy.jpg" style="height: 750px; width:1250px;"   />


    <p> </p>
</div>

